@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  /* background-color: rgb(129, 154, 184); */
}

/* Example CSS */
.swiper-button-prev,
.swiper-button-next {
  background-color: #ffffff; /* Change to your desired background color */
  color: #fff; /* Change to your desired text color */
  font-size: 20px; /* Change to your desired font size */
  border-radius: 50%;
  padding: 20px;
}
.swiper-button-prev:after ,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 24px !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  color: #5BB08B;
}
/* .swiper-pagination-bullet {
  background-color: #00ff1e;
} */

::-webkit-scrollbar {
  width: 6px;  /* width of the scrollbar */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the thumb */
  border-radius: 5px;     /* rounded corners */
}